/* Contact Info Section */
.contact-info {
    text-align: center;
    margin: 20px 0;
}

.contact-info p {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 10px;
}

/* Summary Section */
.summary {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.summary p {
    font-size: 1.2em;
    line-height: 1.5;
}

/* Skills Section */
.skills-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

/* Education Section */
.education-group {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.education-item {
    margin-bottom: 20px;
}

.education-item h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
}

.education-item p {
    font-size: 1.1em;
    color: #666;
}

/* Projects Section */
.projects-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.project-title {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: #333;
}

.project-description {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #666;
}

.project-link a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.project-link a:hover {
    text-decoration: underline;
}
